* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Economica", sans-serif;
    color: white;
    -webkit-text-stroke: 1px rgb(22, 1, 116);
}

body {
    background-color: white;
    height: 100vh;
}


/*nav bar only*/

.nav {
    background-color: #FCF1F0;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.title-wrapper {
    margin: auto;
    background: linear-gradient(to top, #ed4e8bce 50%, transparent 50%);
    width: 30%;
}

.title {
    font-size: calc(10px + 5vmin);
    margin: auto;
}


/* content only*/

.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-wrapper>.first-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 66%;
    margin: 0;
    padding: 0;
    border: 0;
}

.content-wrapper>.first-row>div {
    width: 50%;
    height: auto;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #FCF1F0;
}

.content-wrapper>.sushi {
    width: 33%;
    height: auto;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #FCF1F0;
}

.food-title-wrapper {
    background: linear-gradient(to top, #f8bf80 50%, transparent 50%);
    width: 100%;
    padding: 0em;
    font-size: calc(10px + 5vmin);
    text-align: right;
}

p {
    padding: 2em;
    color: white;
    font-size: calc(5px + 2vmin);
    -webkit-text-stroke: 1px rgb(22, 1, 116);
}

footer {
    background-color: #FCF1F0;
    width: 100%;
    height: 5vh;
    position: fixed;
    bottom: 0;
}


/*media considerations*/


/*tablet*/

@media only screen and (max-device-width: 991px) {
    .content-wrapper {
        flex-direction: column;
    }
    .content-wrapper>.first-row {
        flex-direction: row;
        width: 100%;
    }
    .content-wrapper>.chicken {
        width: 50%;
        height: auto;
        margin: 0.5em;
        padding: 0.5em;
        background-color: #FCF1F0;
    }
    .content-wrapper>.beef {
        width: 50%;
        height: auto;
        margin: 0.5em;
        padding: 0.5em;
        background-color: #FCF1F0;
    }
    .content-wrapper>.sushi {
        width: auto;
        height: auto;
        margin: 0.5em;
        padding: 0.5em;
        background-color: #FCF1F0;
    }
}


/*phone*/

@media only screen and (max-device-width: 767px) {
    .content-wrapper {
        display: block;
    }
    .content-wrapper>.first-row {
        flex-direction: column;
        width: 100%;
    }
    .content-wrapper>.first-row>div {
        width: auto;
        height: auto;
        margin: 0.5em;
        padding: 0.5em;
        background-color: #FCF1F0;
    }
    .content-wrapper>.sushi {
        width: auto;
        height: auto;
        margin: 0.5em;
        padding: 0.5em;
        background-color: #FCF1F0;
    }
}